// Nova Card CSS
.jdlabs-card {

    .apexcharts-canvas {
        svg:not(:root) {
            overflow: visible;
        }
    }
}

.jdlabs-pie {
    .overflow-y-auto {
        &::-webkit-scrollbar
        {
            width: 3px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #ccc;
        }
    }
}

.grouped-cards-wrapper {
    .card {
        min-height: 150px;
    }


    @media (max-width: 992px) {
        margin-bottom: -2rem;

        &.card-panel {
            height: unset;
        }
    }
}

.advanced-trend-card {
    overflow: hidden;

    .zoom-out {
        position: relative;
        z-index: 1;
    }

    .last-trend-value {
        position: relative;
        z-index: 10;
    }

    .advanced-trend {
        margin: -100px -35px;
        margin-bottom: 0;
        position: relative;
        z-index: 0;

        .apexcharts-xaxis {
            display: none;
        }

        .apexcharts-xaxis-label {
            display: none;
        }

        .apexcharts-xaxistooltip-bottom {
            display: none;
        }

        .apexcharts-grid {
            display: none;
        }
    }
}

.trend-series {
    margin-top: 0 !important;

    .apexcharts-legend {
        padding-left: 30px;
        top: 0 !important;
    }

    .apexcharts-tooltip {
        margin-top: -10px;
    }

    .apexcharts-tooltip-y-group {
        padding: 2px 0 2px;
    }

    .apexcharts-tooltip-series-group.apexcharts-active {
        padding-bottom: 0 !important;
    }

    .apexcharts-tooltip-title {
        padding: 3px 6px;
    }
}

