// Nova Card CSS
.jdlabs-card {

    .chart-wrapper {
        div:first-child {
            //width: 100% !important;
        }
    }

    .apexcharts-canvas {
        svg:not(:root) {
            overflow: visible;
        }
        //width: 100% !important;
    }
    //&.card-panel {
    //    height: unset;
    //}
    //
    //.chart-wrapper {
    //    min-height: 340px;
    //}
}
